@use '@scss/global/variables' as *;

.home {
  &__section {
    padding: 0 rem(16);
    margin-bottom: rem(24);

    @include mediaq($tablet) {
      padding: 0;
      margin-bottom: 0;
    }

    &--top-artists {
      margin-top: rem(24);
      padding: 0;

      @include mediaq($tablet) {
        margin-top: unset;
        margin-bottom: rem(32);
      }
    }

    &--top-tags {
      @include mediaq($tablet) {
        padding: 0;
      }
    }
    
    &--top-tracks {
      @include mediaq($tablet) {
        margin: 0;
      }
    }

    &--top-albums {
      padding: 0;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column-reverse;

    @include mediaq($tablet) {
      display: grid;
      grid-template-columns: minmax(250px, 1fr) 1fr;
      gap: rem(32);
      overflow: hidden;
    }
  }

  &__topAlbums {
    border-radius: 8px;
    
    @include mediaq($tablet) {
      justify-content: center;
    }
  }

  &__container {
    overflow: hidden;
    @include mediaq($tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__musicalLegends {
    @include mediaq($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: rem(16);
      border-radius: rem(8);
      gap: rem(16);
      flex-grow: 1;
    }
  }
}