@use '@/scss/global/variables' as *;

.tags {
  display: none;

  @include mediaq ($tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(4);
    height: rem(44);
    overflow-y: auto;
  }
}

.tag {
  padding: rem(4) rem(8);
  border-radius: 500px;
  font-family: var(--font-lato);
  font-size: rem(12);
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  height: min-content;

  &--dark {
    background-color: $neutral-black;
    color: $neutral-light-gray;
  }
}