/* Colors */
$neutral-black: #0B1215;
$neutral-gray: #A1A1A1;
$neutral-darkGray: #1e2224;
$neutral-light-gray: #e0e0e0;

$primary: #ecf39e;
$primary-accent: #CBD930;

$more-saturated-green: hsl(118 30% 67% / 1);

$phone: 375px;
$tablet: 768px;
$small-pc: 1024px;
$big-pc: 1440px;

@function rem ($px: number) {
  $result: calc($px / 16) + rem;
  @return $result
};

@mixin mediaq($bp) {
  @media screen and (min-width: $bp) {
    @content  
  }
};