@use '@scss/global/variables' as *;

.heading {
  &__container {
    display: flex;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(16);
    
    &--padded {
      padding: 0 rem(16);
    }

    @include mediaq($tablet) {
      padding: 0;
      gap: rem(16);
    }
  }
}