@use '@scss/global/variables' as *;

.splide {
  $arrows-size: 30px;
  $container-arrow-offset: 8px;

  &__container {
    position: relative;
  }

  &__arrows {
    &--discoverartist {
      & .splide__arrow {
        top: unset;
        right: 8px;
        bottom: 8px;

        @include mediaq($tablet) {
          right: 24px;
          bottom: 24px;
        } 
      }

      & .splide__arrow--prev {
        --gap: 16px;
        left: unset;
        transform: translate(calc(-100% - var(--gap)), -50%);

        &:active:not(:disabled) {
          transform: translate(calc(-100% - var(--gap)), -50%) scale(.9);
        }
      }
    }
  }

  &__arrow {
    position: absolute  ;
    border-radius: 50%;
    height: $arrows-size;
    width: $arrows-size;
    background-color: $neutral-black;
    padding: 0;
    display: grid;
    place-content: center;
    border: unset;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    transition: transform 100ms ease-in, opacity 100ms ease;

    &:active:not(:disabled) {
      transform: translateY(-50%) scale(.9);
    }

    &:disabled {
      opacity: .7;
    }

    &--next {
      right: $container-arrow-offset;
    }

    &--prev {
      left: $container-arrow-offset;
    }
  }

  &__pagination {
    li {
      padding: 6px;
    }

    &__page {
      width: 8px;
      height: auto;
      aspect-ratio: 1 / 1;
      background-color: $primary;
      border-radius: 50%;
      border: unset;

      &.is-active {
        background-color: $primary-accent;
      }
    }
  }
}
