@use '@/scss/global/variables' as *;

.mySwiper {
  position: relative;
}

swiper-container {
  width: 100%;
  height: auto;
}

swiper-slide {
  width: auto;
}

.swiper {
  &-nextElement,
  &-prevElement {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 50px;
    box-sizing: border-box;
    height: 100%;
    z-index: 2;
    transition: opacity 150ms ease-in-out;
    top: 0;
    padding: 14px;
    
    @include mediaq(768px) {
      width: 100px;
      display: flex;
      align-items: center;
    }

    svg {
      transition: filter 200ms ease-in;
    }

    &:hover {
      svg {
        filter: drop-shadow(0px 0px 8px $primary-green);
      }
    }
  }

  &-prevElement {
    background: linear-gradient(to right, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 0.00) 100%);
    left: 0;
    justify-content: left;
  }

  &-nextElement {
    background: linear-gradient(to left, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 0.00) 100%);
    right: 0;
    justify-content: right;
  }

  &-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}
