@use '@scss/global/variables' as *;

.tags {
  display: none;

  @include mediaq ($tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(4);
    height: rem(44);
    overflow-y: auto;
  }
}

.tag {
  font-family: var(--font-lato);
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  height: min-content;
  padding: rem(8) rem(16);
  border-radius: 9999px;
  
  &--default {
    font-size: rem(14);
    border: 2px solid $primary;
    color: $neutral-light-gray;
    transition: background-color 200ms ease-in-out;

    @include mediaq($tablet) {
      font-size: rem(16);
    }

    &:hover {
      background-color: #ecf39e22;
    }
  }

  &--dark {
    font-size: rem(12);
    background-color: $neutral-black;
    color: $neutral-light-gray;
  }
}

.toptags {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);

    @include mediaq($tablet) {
      justify-content: center;
    }
  }
}