@use '@scss/global/variables' as *;

.typography {
  &__variant {
    line-height: 1;
    font-size: rem(18);
    
    &--h1 {
      @include mediaq($tablet) {
        font-size: rem(24);
      }
    }
  }
}