@use 'components';
@use '@/scss/global/variables.scss' as *;

body {
  min-height: 100vh;
  max-width: 1440px;
  margin-inline: auto;
  padding: rem(16) 0;
  display: flex;
  flex-direction: column;

  @include mediaq(768px) {
    display: grid;
    grid-template-columns: rem(75) 1fr;
    grid-template-rows: min-content;
    padding: 0;
  }

  @include mediaq(1024px) {
    grid-template-columns: rem(200) 1fr;
  }
}

header {
  padding: rem(10) rem(16);

  @include mediaq(768px) {
    padding: 0;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: rem(75) 1fr;
  }

  @include mediaq(1024px) {
    grid-template-columns: rem(200) 1fr;
  }
}

.logo {
  --tablet-logoSize: 48px;

  @include mediaq(768px) {
    padding-top: rem(12);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $secondary-desaturated-green;
  
    img {
      width: var(--tablet-logoSize);
      height: var(--tablet-logoSize);
    }
  }
  
  @include mediaq(1024px) {
    padding-top: rem(24);
    img {
      width: unset;
      height: unset;
    }
  }
}

.placeholder {
  display: none;

  @include mediaq(768px) {
    display: block;
    padding: rem(24);
  }
}

aside {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;

  @include mediaq(768px) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 1px solid $secondary-desaturated-green;
    padding: rem(32) rem(12) rem(24);
  }

  @include mediaq(1024px) {
    padding: rem(76) rem(24) rem(24);
  }
}

.attribution {
  display: none;

  @include mediaq(1024px) {
    display: block;
    text-align: center;
    font-size: rem(14);
    color: $neutral-gray;
  }
}

main {
  position: relative;
  flex-grow: 1;
  overflow-y: hidden;

  @include mediaq(768px) {
    padding: 0 rem(16);
    flex-grow: unset;
    min-height: unset;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top: 1px solid $secondary-desaturated-green;
    padding: rem(24);
  }
}
