@use '@scss/global/variables' as *;

.track {
  display: grid;
  grid-template-columns: 48px 1fr min-content;
  align-items: center;
  gap: rem(16);
  position: relative;
  min-width: 100%;
  width: 0;
  border-radius: 8px;

  @include mediaq($tablet) {
    padding: rem(8);
    padding-right: rem(16);
  }

  &:not(:last-child) {
    margin-bottom: rem(16);
  }

  &__header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    object-fit: cover;
    border-radius: 50%;
  }

  &__data {
    text-transform: capitalize;
    font-size: rem(16);
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--songname {
      font-weight: 700;
      margin-bottom: rem(10);
    }

    &--artist {
      font-size: rem(12);
      color: $primary;
    }

    &--duration {
      color: $primary;
    }
  }
}