@use '@scss/global/variables' as *;

.track {
  display: flex;
  gap: rem(16);
  position: relative;

  @include mediaq($tablet) {
    padding: rem(8) 0;
  }

  &:not(:last-child) {
    margin-bottom: rem(16);

    @include mediaq($tablet) {

      &::after {
        content: '';
        width: 85%;
        height: 1px;
        position: absolute;
        bottom: rem(-8);
        left: 50%;
        transform: translate(-50%, 0);
        background-color: $primary-yellow;
      }
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 50%;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__data {
    text-transform: capitalize;
    font-size: rem(16);
    font-weight: 600;
    line-height: 1;

    &--songname {
      font-weight: 700;
      margin-bottom: rem(10);
    }

    &--artist {
      font-size: rem(12);
      color: $primary-yellow;
    }

    &--duration {
      color: $primary-yellow;
    }
  }
}